.home-loan-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.home-loan-header {
    text-align: center;
    margin-bottom: 30px;
}

.home-loan-header h1 {
    font-size: 36px;
    color: #003366;
}

.home-loan-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.home-loan-text {
    flex: 1;
    padding: 20px;
}

.home-loan-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #00264d;
}

.home-loan-text p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.home-loan-text ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

.home-loan-text ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.apply-button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #004080;
}

.home-loan-image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.home-loan-image img {
    max-width: 100%;
    border-radius: 10px
}

